@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  background-color: #000;
}

.display-font {
  font-family: 'DM Serif Display' ,'Times New Roman', Times, serif;
}

.header-font {
  font-weight: 700;
  color: white;
  font-size: 7rem;
  font-family: 'DM Serif Display' ,'Times New Roman', Times, serif;

}

.header-font2 {
  font-weight: 700;
  color: white;
  font-size: 7rem;
  font-family: 'DM Serif Display' ,'Times New Roman', Times, serif;
}